.env
.venv
scratch/

forms/*
backend/resumes/*
backend/databases/*

!forms/.gitkeep
!backend/resumes/.gitkeep
!backend/databases/.gitkeep

__pycache__/
functions/__pycache__/

# email
backend/functions/email
# backend/functions/email/model/
# backend/functions/email/training_data.json